@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font: 14px 'Open Sans', sans-serif;
  color: #404040;
}

a {
  background-color: #007cc2;
  color: white;
  font-size: 1.3em;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  text-decoration: none;
  width: max-content;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  border: 2px solid #007cc2;
  transition: ease-in-out .2s;
}

a:hover {
  background-color: white;
  color: #007cc2;
}

h1 {
  width: max-content;
  margin: 0 auto;
  margin-top: 20px;
}

p {
  width: 80%;
  margin-left: 10%;
}

/* <a class="[ btn btn--effect-6 ]" href="#" title="Read more">
  <span data-hover="Go ›">Read more</span>
</a> */


/* Button effect 6 */
.btn--effect-6 {
  padding: 0;
  overflow: initial;
}
.btn--effect-6:hover > span,
.btn--effect-6:focus > span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}
.btn--effect-6 > span {
  position: relative;
  display: block;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.btn--effect-6 > span:before {
  content: attr(data-hover);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
